* {
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}

/* GENERAL STYLING */

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #e7e7e7;
    background-attachment: fixed;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cg fill='%23faf6e7' fill-opacity='1'%3E%3Cpath d='M12 0h18v6h6v6h6v18h-6v6h-6v6H12v-6H6v-6H0V12h6V6h6V0zm12 6h-6v6h-6v6H6v6h6v6h6v6h6v-6h6v-6h6v-6h-6v-6h-6V6zm-6 12h6v6h-6v-6zm24 24h6v6h-6v-6z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");

}

.top-bar{
    width: auto;
    height: auto;
    background-color: #355952;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3.5rem;
    color: #EAB63E;
    font-family: Kool Beans;

}

#home-icon {
    width: 3.5rem;
    height:3.5rem;
    align-items: center;
    margin-top: 1rem;
    margin-left: 1rem;
}

#burger-menu-icon {
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 1rem;

}

.bottom-bar{
    background-color: #355952;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    font-size: 2rem;
    color: #EAB63E;
    font-family: Kool Beans;

}

#logo-box {
    display: flex;
    margin-top: 0.5rem;
    justify-content: center;
    align-items: center;
    /* flex-grow: 1;  CHECK PURPOSE AFTER MQ*/

}


#logo-box > a {
    margin: 0 1rem;
}

#copyright {
    font-size: 0.75rem;
    color: #EAB63E;
    padding-bottom: 0.5rem;
}

/* HAMBURGER MENU */

#burger-pop-out {
    display: none;
    position: absolute;
    top: 5.3rem;
    right: 0;
    color: #355952;
    list-style: none;
}

#burger-pop-out li {
    font-family: Kool Beans;
    font-size: 2rem;
    padding: 1rem;
    height: 5rem;
    width: 50vw;
    background-color: #e7e7e7;
    background-attachment: fixed;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cg fill='%23faf6e7' fill-opacity='1'%3E%3Cpath d='M12 0h18v6h6v6h6v18h-6v6h-6v6H12v-6H6v-6H0V12h6V6h6V0zm12 6h-6v6h-6v6H6v6h6v6h6v6h6v-6h6v-6h6v-6h-6v-6h-6V6zm-6 12h6v6h-6v-6zm24 24h6v6h-6v-6z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");

    
}

#burger-pop-out a {
    text-decoration: none;
    color: inherit;
    display: block;
}

#burger-menu-icon:hover + #burger-pop-out,
#burger-pop-out:hover{
    display: block;
}

/* BLOG MAIN PAGE */

#main-blog-box {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    font-family: Kool Beans;
    margin-bottom: 2rem;
}

#main-blog-box > #blog-box-head-text {
    color: #355952;
    font-size: 4rem;
    margin-bottom: 0.5rem;
    height: fit-content;

}

.blog-post-icon {
    width: 80%;
    padding:0.5rem;
    margin: 0.8rem 0;
    text-align: center;
    border: 0.4rem solid #EAB63E;
    border-radius: 2rem; ;
    background-color: #355952;
    color: #EAB63E;
    font-size: 1.5rem;
    justify-content:space-between;
 
}

/* BLOG POST - SINGLE PAGE */

.blog-box-single-page {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #355952;
    width: auto;
    height: auto;
    font-family: Kool Beans;
    border-radius: 1rem;
    color: #EAB63E;
    margin: 1rem;
    padding:1rem;

}
.blog-box-single-page > h1 {
    margin-bottom: 0.1rem;
    font-size: 2.5rem;
}
.blog-box-single-page > img {
    margin:1rem;
    border:#EAB63E solid 2vw
}
.blog-box-single-page > h2 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
.blog-box-single-page > p {
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
    padding: 3vw;
    margin-bottom: 5vw;
    height: 17rem;
}
.blog-but{
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    font-family: Kool Beans;

}
.blog-but > a {
    border: #EAB63E solid 0.3rem;
    border-radius: 3rem;
    padding: 1rem;
    height: 5rem;
    width: 9rem; ;

}

/* HOVER AND PSUEDO-CODE\ */
    
#blog-but-hov:hover {
    background-color: #EAB63E;
    color: #355952;
    border: #355952 solid 0.3rem
}

.blog-post-icon:hover{
    background-color: #EAB63E;
    border: #355952 solid 0.4rem;
    color: #355952;

}

a:visited {
    color: inherit;
    text-decoration: none;
}


/* HOME PAGE */

.home-intro-box {
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    /* justify-content: center; CHECK AFTER MQ */
    font-family: Kool Beans;
    color:#355952

}

.home-intro-box > h1 {
    font-size: 4rem;

}

.home-intro-box > a > img {
    border: #355952 solid 0.5rem;
    border-radius: 40vw;
    width: 60vw;
    height:auto;
    margin-bottom: 1.5rem;
}


.home-intro-box > h2 {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    width: 80vw; 
    /* Increased to fit 3rd line on mobile */


}

.home-intro-box > a > img:hover {
    border: #EAB63E solid 0.5rem;

}



/* ABOUT PAGE */

#about-pageheader {
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    height: auto;
    color: #355952;
    font-family: Kool Beans;
    font-size: 2.5rem;
    margin-top: 1rem;
}


.about-box {
    display: flex;
    width:auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    color: black;
}


.about-box-items > h1 {
    text-align: center;
    color: #355952;
    font-family: Kool Beans;
    font-size: 3.2rem;
    margin-bottom: 2vh;
}

.about-box-items > p, #about-box-list {
    width: auto;
    padding: 1.2rem;
    border: #355952 solid 0.5rem;
    border-radius: 10vw;
    margin: 0rem 1rem 1rem 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4.8vw;
    background-color: #e7e7e7;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cg fill='%23faf6e7' fill-opacity='1'%3E%3Cpath d='M12 0h18v6h6v6h6v18h-6v6h-6v6H12v-6H6v-6H0V12h6V6h6V0zm12 6h-6v6h-6v6H6v6h6v6h6v6h6v-6h6v-6h6v-6h-6v-6h-6V6zm-6 12h6v6h-6v-6zm24 24h6v6h-6v-6z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    
}


.about-box-items > ul {
    text-align: left;
    
}

.about-box-items > ul > li {
    margin: 0.75rem;
}

/* CAREER PAGE */

#career-pageheader {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    height: auto;
    color: #355952;
    font-family: Kool Beans;
    font-size: 2.5rem;
    margin-top: 1rem;
}


.career-box {
    display: flex;
    width:auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    color: black;
}


.career-box-items > h1{
    text-align: center;
    color: #355952;
    font-family: Kool Beans;
    font-size: 3.2rem;
    margin-bottom: 2vh;
}

.career-box-item-inner {
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: #355952 solid 0.5rem;
    border-radius: 10vw;
    background-color: #e7e7e7;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cg fill='%23faf6e7' fill-opacity='1'%3E%3Cpath d='M12 0h18v6h6v6h6v18h-6v6h-6v6H12v-6H6v-6H0V12h6V6h6V0zm12 6h-6v6h-6v6H6v6h6v6h6v6h6v-6h6v-6h6v-6h-6v-6h-6V6zm-6 12h6v6h-6v-6zm24 24h6v6h-6v-6z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4.8vw;
    margin: 0rem 1rem 1rem 1rem;
    
}

.career-box-item-inner > img{
    width: 90%;
    height: auto;
    border: #355952 solid 0.5rem;
    border-radius: 1.5rem;
    margin: 1rem;

}

.career-box-item-inner > p {
    padding: 0.5rem;
}

.resume-icon {
    display: flex;
    height: auto;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-family: Kool Beans;
    color: #355952;
}




























