* {
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}

/* GENERAL STYLING */

body {
    background-color: #e7e7e7;
    background-attachment: fixed;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cg fill='%23faf6e7' fill-opacity='1'%3E%3Cpath d='M12 0h18v6h6v6h6v18h-6v6h-6v6H12v-6H6v-6H0V12h6V6h6V0zm12 6h-6v6h-6v6H6v6h6v6h6v6h6v-6h6v-6h6v-6h-6v-6h-6V6zm-6 12h6v6h-6v-6zm24 24h6v6h-6v-6z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");

}

.top-bar{
    width: auto;
    height: auto;
    background-color: #355952;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3.5rem;
    color: #EAB63E;
    font-family: Kool Beans;

}

#home-icon {
    position: relative;
    width: 3.5rem;
    height:3.5rem;
    align-items: center;
    margin-top: 1rem;

}

#burger-menu-icon {
    width: 3.5rem;
    height: 3.5rem;
    align-items: center;
}


.top-bar > p {
    align-items: center;
    width: auto;
    height: auto;

}

.bottom-bar{
    background-color: #355952;
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    font-size: 3rem;
    color: #EAB63E;
    font-family: Kool Beans;

}

#logo-box {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

}

#logo-box > a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
}

#copyright {
    margin-top: 0.5rem;
    justify-content: center;
    align-items: center;

}


/* .bottom-bar{
    position: fixed;
    background-color: #355952;
    bottom: 0;
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    font-size: 3rem;
    color: #EAB63E;
    font-family: Kool Beans;

} */

.bottom-bar > a {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100%;
    width: 100%;

}

.bottom-bar > a > img {
    width: 3.5rem;
    height: 3.5rem;
}

#copyright {
    font-size: 4vw;
    color: #EAB63E;
}

/* LOGO STYLING */
/* Top Bar STYLING */



/* BLOG MAIN PAGE */

#main-blog-header {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #355952;
    font-family: Kool Beans;
    font-size: 3rem;
}

#main-blog-box {
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem;


}

.blog-post-icon {
    width: 100%;
    text-align: center;
    border: 5px solid #EAB63E;
    background-color: #355952;
    color: #EAB63E;
    font-family: Kool Beans;
    font-size: 2rem;
    justify-content: space-between;
    padding: 0.5rem;
}


/* BLOG POST - SINGLE PAGE */

.blog-box-single-page {
    position: relative;
    margin-top: 12vh;
    margin-left:10vw;
    margin-bottom: 15vh;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    background-color: #355952;
    width: 80vw;
    height: auto;
    font-family: Kool Beans;
    padding: 4vw;
    border-radius: 5vw;
    color: #EAB63E;
    min-height: 40vh;
    max-height: 100vh;
}



.blog-box-single-page > h1 {
    margin-top: 1vh;
    text-align: center;
    justify-content: center;
    margin-bottom: 1vh;
    font-size: 10vw;

}

.blog-box-single-page > img {
    height: auto;
    position: relative;
    margin: 2vw;
    margin-bottom: 4vw;
    border:#EAB63E solid 2vw

}

.blog-box-single-page > h2 {
    height: auto;
    position: relative;
    font-size: 8vw;
}

.blog-box-single-page > p {
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
    padding: 3vw;
    margin-bottom: 5vw;
    height: 22vh ;
}

.blog-box-single-page > nav {
    position: relative;
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 25vw ;
    height: 15vw ;
    background-color: #355952;
    width:auto;
}

.blog-but{
    border: #EAB63E solid 1vw;
    background-color: #355952;
    padding: 2vw;
    font-size: 6vw;
    font-family: Kool Beans;
    color: #EAB63E;
    padding: 3vw;
    border-radius: 6vw;
}

    
.blog-but:hover {
    background-color: #EAB63E;
    color: #355952;
    border: #355952 solid 1vw;
}


/* HOME PAGE */

.home-intro-box {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: flex-start;
    font-family: Kool Beans;
    color:#355952

}

.home-intro-box > h1 {
    font-size: 35vw;
    text-align: center;
}

.home-intro-box > a > img {
    border: #355952 solid 3vw;
    border-radius: 50vw;
    width:80vw;
   

}

.home-intro-box > h2 {
    text-align: center;
    font-size: 7vw;
    justify-content: space-around;
    margin-top: 3vh;
    width: 85vw;


}

.home-intro-box > a > img:hover {
    border: #EAB63E solid 3vw;

}

/* ABOUT PAGE */

#about-pageheader {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    height: auto;
    color: #355952;
    font-family: Kool Beans;
    font-size: 3rem;
    margin-top: 1.8rem;
}


.about-box {
    width:auto;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    color: black;
    z-index: -1;
}


.about-box-items > h1 {
    text-align: center;
    color: #355952;
    font-family: Kool Beans;
    font-size: 3.2rem;
    margin-bottom: 2vh;
}

.about-box-items > p, ul {
    width: 90vw;
    padding: 4vw;
    text-align: center;
    border: #355952 solid 2vw;
    border-radius: 10vw;
    margin-bottom: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4.8vw;
    background-color: #e7e7e7;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cg fill='%23faf6e7' fill-opacity='1'%3E%3Cpath d='M12 0h18v6h6v6h6v18h-6v6h-6v6H12v-6H6v-6H0V12h6V6h6V0zm12 6h-6v6h-6v6H6v6h6v6h6v6h6v-6h6v-6h6v-6h-6v-6h-6V6zm-6 12h6v6h-6v-6zm24 24h6v6h-6v-6z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    
}

.about-box-items > ul {
    text-align: left;
    padding-left: 8vw;
    
}

.about-box-items > ul > li {
    margin: 1.5vh;
}






















