* {
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}

#background {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #e7e7e7;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cg fill='%23faf6e7' fill-opacity='1'%3E%3Cpath d='M12 0h18v6h6v6h6v18h-6v6h-6v6H12v-6H6v-6H0V12h6V6h6V0zm12 6h-6v6h-6v6H6v6h6v6h6v6h6v-6h6v-6h6v-6h-6v-6h-6V6zm-6 12h6v6h-6v-6zm24 24h6v6h-6v-6z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    z-index: 0;
}

.nav{
    min-height: 10vh;
    background-color: #355952;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: #EAB63E;
    font-family: Kool Beans;
    z-index: 1;

}
footer {
    bottom: 0;
    left: 0;
}


.pageheader {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    /* line-height: 200vh; maybe does nothing? */
    top: 15vh;
    left: 15vw;
    padding-bottom: 1vh;
    border-radius: 50%;

    /* may change when screen changes */
    width: 70vw;
    
    height: 8vh;
    z-index: 2;
    color: #EAB63E;
    background-color: #355952;
    font-family: Kool Beans;
    font-size: 2rem;
}


.Main-BOX {
    position: relative;
    top:25vh;
    margin: 2vw ;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-height: 80vh;
    max-width: 80vh;
    /* overflow: hidden; */
    
}


.blog-post-icon {
    text-align: center;
    border: 5px solid #EAB63E;
    margin: 1vh;
    width: 80%; 
    background-color: #355952;
    padding: 2vw;
    color: #EAB63E;
    font-family: Arial, Helvetica, sans-serif;
}










