* {
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}

a {
    color: #EAB63E;
    text-decoration: none;
}

#background {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #e7e7e7;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cg fill='%23faf6e7' fill-opacity='1'%3E%3Cpath d='M12 0h18v6h6v6h6v18h-6v6h-6v6H12v-6H6v-6H0V12h6V6h6V0zm12 6h-6v6h-6v6H6v6h6v6h6v6h6v-6h6v-6h6v-6h-6v-6h-6V6zm-6 12h6v6h-6v-6zm24 24h6v6h-6v-6z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    z-index: 0;
}

.common-bar{
    height: 10vh;
    background-color: #355952;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: #EAB63E;
    font-family: Kool Beans;
    z-index: 1;

}

footer{
    max-height: 10vh;
    bottom: 0;
    left: 0;
    position: fixed;

}

.pageheader {
    position: relative;
    height: 20vh;
    width: 100vh;
    margin-top: 15vh;
    margin-left: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1vh;
    border-radius: 50%;
    width: 70vw;
    height: 8vh;
    z-index: 2;
    color: #355952;
    font-family: Kool Beans;
    font-size: 3rem;
}


.main-blog-box {
    position: relative;
    margin-top: 2vh;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    max-height: 60vh;
    max-width: 80vw;
    overflow: hidden; 
    background-color: transparent;
    height: 70vh;
    width: 60vw; ;

}

.blog-post-icon {
    text-align: center;
    border: 5px solid #EAB63E;
    margin: 1vh;
    width: 80%;
    max-height: 15%;
    background-color: #355952;
    padding: 2vw;
    color: #EAB63E;
    font-family: Kool Beans;
    font-size: 2rem;
}



.blog-box-single-page {
    position: relative;

    /* max-height: 100vh; */

    margin-top: 12vh;
    margin-left:10vw;
    margin-bottom: 10vh;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    background-color: #355952;
    width: 80vw;
    height: auto;
    font-family: Kool Beans;
    padding: 4vw;
    border-radius: 5vw;
    color: #EAB63E;

}

.blog-box-single-page > h1 {
    margin-top: 1vh;
    text-align: center;
    justify-content: center;
    margin-bottom: 1vh;
    font-size: 10vw;

}

.blog-box-single-page > img {
    height: auto;
    position: relative;
    margin: 2vw;
    margin-bottom: 4vw;
    border:#EAB63E solid 2vw

}

.blog-box-single-page > h2 {
    height: auto;
    position: relative;
    font-size: 8vw;
}

.blog-box-single-page > p {
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
    padding: 3vw;
    margin-bottom: 5vw;
    height: 22vh ;
}

.blog-box-single-page > nav {
    position: relative;
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 25vw ;
    height: 15vw ;
    background-color: #355952;
    width:auto;
}

.blog-but{
    border: #EAB63E solid 1vw;
    background-color: #355952;
    padding: 2vw;
    font-size: 6vw;
    font-family: Kool Beans;
    color: #EAB63E;
    padding: 3vw;
    border-radius: 6vw;
}

    
.blog-but:hover {
    background-color: #EAB63E;
    color: #355952;
    border: #355952 solid 1vw;
}













