/* Reset */

* {
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}

/* Font from google fonts */

@font-face {
    font-family: FugazOne;
    src:url(/assets/FugazOne-Regular.ttf);
   }


/* GENERAL STYLING */

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-attachment: fixed;
    background-image: url("/img/page-photos/bg/background.png"); 
}

/* Graphical and Textual component  - Navigation bar - Dropped into drop-down menu - Inclunding the hamburger menu */

.top-bar{
    width: 100%;
    height: auto;
    background-color: #355952;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3.5rem;
    color: #EAB63E;
    font-family: FugazOne,sans serif;
}

#home-icon {
    width: 3.5rem;
    height:3.5rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

.burger-menu-icon {
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 1rem;

}

/* Graphical component  - Footer - Imgs attached to link to outside websites */

.bottom-bar{
    background-color: #355952;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    font-size: 2rem;
    color: #EAB63E;
    font-family: FugazOne,sans serif;

}

#logo-box {

    display: flex;
    margin-top: 0.5rem;
    justify-content: center;
    align-items: center;
}


 #logo-box > a > img{
    max-height:3.5rem;
    max-width: 3.5rem;

 }

#copyright {
    font-size: 0.75rem;
    color: #EAB63E;
    padding-bottom: 0.5rem;
}

/* HAMBURGER MENU */

.burger-nav-menu {
    display: none;
    position: absolute;
    top: 5.3rem;
    right: 0;
    color: #355952;
    list-style-type: none;
    background-attachment: fixed;
    background-image: url(/img/page-photos/bg/background.png);
}

.burger-nav-menu.active{
    display: block;
}

.burger-nav-li {
    text-align: center;
    font-family: FugazOne,sans serif;
    font-size: 2.5rem;
    height: 10vh;
    width: 100vw;
    border-bottom: 0.5rem solid #355952;

}
.burger-a-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

/* BLOG MAIN PAGE */

#main-blog-box {
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: FugazOne,sans serif;
    color: #355952;
    font-size: 2rem;
    height: 100vh;
    justify-content: center;
    
}


.blog-post-icon {
    width: 18rem;
    align-items: center;
    padding: 0.75rem;
    margin: 0.5rem 3rem;
    border: 0.3rem solid #EAB63E;
    border-radius: 2rem; ;
    background-color: #355952;
    color: #EAB63E;
    font-size: 1.5rem;
 
}

/* BLOG POST - SINGLE PAGE */

/* Graphical and Textual Component - Div - allows user to look at Image and read text */

.blog-box-single-page {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #355952;
    width: auto;
    height: auto;
    font-family: FugazOne,sans serif;
    border-radius: 1rem;
    color: #EAB63E;
    margin: 1rem;
    padding:1rem;
}

.blog-box-single-page > h1 {
    margin-bottom: 0.1rem;
    font-size: 2.5rem;
}
.blog-box-single-page > img {
    margin:1rem;
    border:#EAB63E solid 1rem;
}
.blog-box-single-page > h2 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
.blog-box-single-page > p {
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
    padding: 3vw;
    margin-bottom: 5vw;
    height: 17rem;
}

/* Textual Component - Buttons - custome made button promopts the use to action or to navigate */

.blog-but{
    display: flex;
    justify-content: space-around;
    font-size: 1.6rem;
 
}
.blog-but > a {
    border: #EAB63E solid 0.3rem;
    border-radius: 3rem;
    padding: 1rem;
    height: 5rem;
    width: 9rem; ;

}

/* HOVER AND PSUEDO-CODE for blog main and blog single*/

.blog-post-icon:hover{
    background-color: #EAB63E;
    border: #355952 solid 0.3rem;
    color: #355952;
}

.blog-but > a:hover{
    background-color: #EAB63E;
    border: #355952 solid 0.3rem;
    color: #355952; 
}

a:visited {
    color:inherit;
}

/* Overide: wouldnt function on a:visited */
a {
    text-decoration:none;
}

.burger-nav-li:hover {
    color: #EAB63E;

}


/* HOME PAGE */

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 100vh;
}

/* Textual and Graphical Component - Hero -unit - many items combine in DIV to promote user to enter the site */

.home-intro-box {
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: FugazOne,sans serif;
    color:#355952;
    justify-content:center;
    height: 100vh;
}

.home-intro-box > h1 {
    font-size: 5.5rem;
    justify-content:center ;
}

.home-intro-box >  a > img {
    border: #355952 solid 0.5rem;
    border-radius: 16px;
    width: 50%;
    margin-bottom: 0.5rem;
}

.home-intro-box > h2 {
    font-size: 1rem;
}

#avatar-link > img:hover {
    border: #EAB63E solid 0.5rem;

}



/* ABOUT PAGE */

#about-pageheader {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    height: auto;
    color: #355952;
    font-family: FugazOne,sans serif;
    font-size: 3rem;
}


.about-box {
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: black;
    font-size: 2.5rem;
    gap: 2rem;
    padding: 2rem;
}

.about-box-items {
    border: #355952 solid 0.5rem;
    border-radius: 16px;
}

.about-box-items > h1 {
    text-align: center;
    color: #355952;
    font-family: FugazOne,sans serif;
    font-size: 3.2rem;
    margin-bottom: 2vh;
}

.about-box-items > p, #about-box-list , .photo-box{
    width: auto;
    padding: 1.2rem;

    margin: 0rem 1rem 1rem 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4.8vw;
    background-image: url("/img/page-photos/bg/background.png")
}



.about-box-items > ul {
    text-align: left;
    
}

.about-box-items > ul > li {
    margin: 0.75rem;
}



.photo-box {
    width:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2.5%
}

.photo-box img {
    max-width:45%;
    margin-top: 0.5rem;

}



/* CAREER PAGE */

#career-pageheader {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    height: auto;
    color: #355952;
    font-family: FugazOne,sans serif;
    font-size: 2.5rem;
    margin-top: 1rem;
}


/* Textual and graphical component - DIV combing images and text to make the text easier to read. */

.career-box {
    display: flex;
    flex-direction: column;
    width:auto;
    height: auto;
    align-items: center;
    justify-content: center;
    align-content: center;
    color: black;
}


.career-box-items > h1{
    text-align: center;
    color: #355952;
    font-family: FugazOne,sans serif;
    font-size: 3.2rem;
}

.career-box-item-inner {
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: #355952 solid 0.5rem;
    border-radius: 16px;
    background-image: url(/img/page-photos/bg/background.png);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0rem 1rem 1rem 1rem;
    
}

.career-box-item-inner > img{
    width: 90%;
    height: auto;
    border: #355952 solid 0.5rem;
    border-radius: 1.5rem;
    margin: 1rem;

}

.career-box-item-inner > p {
    padding: 0.5rem;
}

.resume-icon {
    display: flex;
    height: auto;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-family: FugazOne,sans serif;
    color: #355952;
}

.career-pho {
    max-width: 8rem;
}

#proj1 {
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#proj1 img {
    height: auto;
    width: 90%;
    border: #355952 solid 0.5rem;
    border-radius: 1.5rem;
    margin: 1rem
}

#proj1 h2{
    font-size: 2rem;
    font-family: FugazOne,sans serif;
    color: #355952;
}


@media screen and (min-width: 500px) {

    /* Hamburger gone and the nav menu returns */

    .burger-menu-icon {
        display: none;
    }

    .burger-nav-menu{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        max-width: 100%;
        position: static;
        color: inherit;
        background-image: none;
    }

    .burger-nav-li {
        height: auto;
        width: auto;
        margin-right:2rem;
    }

    .top-bar{
        justify-content: center;
        flex-direction: row;
        display: flex;
        align-items: center;
    }
    .burger-a-link {
        display: inline;
    }

    /* Adjusts the home icon */

    #home-icon {
        width:5rem;
        height:5rem;
    }
    ul {
        margin-left:5rem;
    }

    .home-intro-box > h2 {
        margin-top: 0.5rem;
        font-size: 1.2rem;
    }
    
    
    /*  opens the stationary screen up */

    .wrapper {
        height: 100vh;
    }
  
    #logo-box > a {
        padding: 0 3rem;
    }

}
    
    .burger-a-link:hover {
        border: #EAB63E solid 0.3rem;
        border-radius: 3rem;
        color: #355952;
        background-color: #EAB63E;

}
    


@media screen and (min-width: 700px) {

    .about-box {
        margin-top: 0;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        max-width: 100%;
        padding: 2rem;
        max-height: 100%;
    }

    .about-box-items{
        text-align: center;
        flex:1;
    }

    .about-box-items h1 {
        font-size: 3.5rem; 
    }


    .about-box-items > p, #about-box-list{
        font-size: 1rem;
        padding: 2rem;
    }

    #bg, #interests {
        max-width: 50%;
    }

    #per-photo {
        flex-basis: 100%;
        max-width: 100%;
    }   

    /* Graphical Component - through the use of images in a div and the overflow funtion we can allow the user to scroll */

    .photo-box{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100vw;
        height:50vh;
        overflow-x: auto;
        white-space: nowrap;
        padding: 1rem;
        border: 0rem 2rem
    }

    .photo-box img {
        max-width: 100%;
        height: auto;

    }

    .career-box {
        margin-top: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between; 
        max-width: 100%;
        padding: 2 rem;
        max-height: 100%;
    }

    .career-box-items{
        flex-basis: 48%;
        max-width: 48%;
        padding: 1 rem;
        text-align: center;
    }

    #overview, #webdev{
        flex-basis: 50%;
        max-width: 50%;
    }

    #aspo {
        flex-basis: 100%;
        max-width: 100%;
        padding:4rem;
    }
    
    #aspo img {
        max-width: 400px

    }

    .career-box-item-inner{
        padding: 2rem;
    }

    #webdev > .career-box-items{
        margin-top:1rem;
    }

    .blog-box-single-page {
        width: 50%;
        max-width: 600px;
        height: auto; 
        margin: 7rem auto;

    }

    .blog-post-icon{
        width: 27rem;
    }
    .career-box , .about-box{
        max-width: 960px;
        margin: 0 auto;
    }
    .main-intro-box > h1{
    margin-bottom: 2rem;
    
    }
}



























































